spring:
  application:
    name: spring-todo-management

---

spring:
  datasource:
    url: jdbc:mysql://localhost:3307/todo
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      encoding: UTF-8

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        #show_sql: true
        format_sql: true
        #        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
        connection:
          CharSet: utf-8
          characterEncoding: utf-8
          useUnicode: true

logging.level:
  org.hibernate.SQL: debug
  #org.hibernate.type: trace

---
spring:
  servlet:
    multipart:
      max-request-size: 10MB
      MAX-file-size: 1MB
